alias alpine="docker run --rm --name alpine -it alpine /bin/sh"
alias b=brew
alias bi="b install"
alias bic="b install --cask"
alias bls="b ls"
alias bud="b update"
alias bug="b upgrade"
alias busy="genact"
alias c=cargo
alias cargo-sort="cargo-sort-ck ./Cargo.toml -w"
alias cl='colima'
alias clock="tock -c -s -C 15"
alias cls="clear"
alias config="edit ~/.zshrc"
alias cs="cargo-sort"
alias dcp="docker-compose pull"
alias df="duf"
alias dig="dog"
alias dkimg="dk image"
alias dkimgs="dk images"
alias dkl="dk logs"
alias dklf="dkl -f"
alias dkps="dk ps"
alias dkpsa="dk ps -a"
alias dkrm="dk rm"
alias dkrma="dkrm $(docker ps -aq)"
alias dks="dk stop"
alias dksa="dks $(docker ps -aq)"
alias dkst="dk stats"
alias du="dust"
# alias docker-compose="docker compose"
# alias docker="limactl shell default docker"
alias dk="dk run"
alias dk="docker"
alias dps="dk ps -a"
alias exot="exit"
alias find="fzf"
alias flush_dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias home="~"
alias js="node"
alias json="jq"
# alias lc="limactl"
# alias lcd="limactl delete"
# alias lcl="limactl list"
# alias lcp="docker-compose pull"
# alias lcs="limactl start"
# alias lcx="limactl stop"
# alias limg="docker image"
# alias limgs="docker images"
# alias lps="docker ps -a"
# alias lps="docker ps"
# alias lpsa="docker ps -a"
alias ls="lsd -l"
alias lst="dk stats"
alias lzd="lazydocker"
alias minify="tr -d "\n\r""
alias mkv-to-mp4="for f in *.mkv; do ffmpeg -i "$f" -c copy "${f%.mkv}.mp4"; done"
alias musl="dk run --rm -it -v "$(pwd)":/home/rust/src -v $(pwd)/target:/home/rust/src/target ekidd/rust-musl-builder"
alias n=node
alias neolol="clear && neofetch | lolcat"
alias ping="gping"
alias prune_ds_store="/usr/bin/find . -name ".DS_Store" -depth -exec rm {} \;"
alias ps="procs"
alias reload="source ~/.zshrc"
alias send="ffsend"
alias speed-test="networkQuality -sv"
alias stats="sampler -c ~/.config/sampler.yml"
alias ts="esno"
alias ubuntu="dk run --rm --name ubuntu -it ubuntu /bin/bash"
alias x="xmake"
alias xr="xrepo"
