# Ansible
alias ans="ansible"
alias ansg="ansible-galaxy"
alias ansp="ansible-playbook"
alias ansv="ansible-vault"

# Brew / Homebrew
alias b=brew
alias bi="b install"
alias bic="b install --cask"
alias bls="b ls"
alias bud="b update"
alias bug="b upgrade"

# Cargo
alias c="cargo"
alias ca="cargo add"
alias cargo-sort="cargo-sort-ck ./Cargo.toml -w"
alias cb="cargo build"
alias cbr="cargo build --release"
alias cr="cargo run"
alias crr="cargo run --release"
alias cs="cargo-sort"
alias ct="cargo test"

# Containers / Docker
alias cl='colima'
alias dcp="docker-compose pull"
alias dk="docker"
alias dkimg="dk image"
alias dkimgs="dk images"
alias dkl="dk logs"
alias dklf="dkl -f"
alias dkps="dk ps"
alias dkpsa="dk ps -a"
alias dkr="dk run"
alias dkrm="dk rm"
alias dkrma="dkrm $(dk ps -aq)"
alias dks="dk stop"
alias dksa="dks $(dk ps -aq)"
alias dkst="dk stats"
# alias docker="limactl shell default docker"
alias dps="dk ps -a"
alias lc="limactl"
alias lcd="limactl delete"
alias lcl="limactl list"
alias lcp="docker-compose pull"
alias lcs="limactl start"
alias lcx="limactl stop"
alias limg="docker image"
alias limgs="docker images"
alias lps="docker ps -a"
alias lps="docker ps"
alias lpsa="docker ps -a"
alias lst="dk stats"
alias lzd="lazydocker"

# Deno
alias dn="deno"
alias dnf="deno fmt"
alias dnl="deno lint"
alias dnr="deno task"
alias dnt="deno test"

# Node / npm 
alias js="node"
alias n=node
alias nrb='nr build'
alias nrd='nr dev'
alias nrl='nr lint'
alias nrs='nr start'
alias nrt='nr test'
alias p="pnpm"
alias ts="tsx"

# Shortcuts
alias alpine="docker run --rm --name alpine -it alpine /bin/sh"
alias busy="genact"
alias clock="tock -c -s -C 15"
alias cls="clear"
alias config="edit ~/.zshrc"
alias df="duf"
alias dig="dog"
alias du="dust"
alias exot="exit"
alias find="fzf"
alias flush-dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias home="~"
alias json="fx"
alias json-parse="jq"
alias localip="ipconfig getifaddr en0"
alias ls="lsd -l"
alias minify="tr -d "\n\r""
alias mkv-to-mp4="for f in *.mkv; do ffmpeg -i "$f" -c copy "${f%.mkv}.mp4"; done"
# alias musl="dk run --rm -it -v "$(pwd)":/home/rust/src -v $(pwd)/target:/home/rust/src/target ekidd/rust-musl-builder"
alias neolol="clear && neofetch | lolcat"
alias ping="gping"
alias pod64='arch -x86_64 pod'
alias prune-ds-store="/usr/bin/find . -name ".DS_Store" -depth -exec rm {} \;"
alias ps="procs"
alias reload="source ~/.zshrc"
# alias send="ffsend"
alias speed-test="networkQuality -sv"
alias stats="sampler -c ~/.config/sampler.yml"
alias ubuntu="dk run --rm --name ubuntu -it ubuntu /bin/bash"

# Xmake
alias x="xmake"
alias xr="xrepo"
