[user]
	email = me@nuro.dev
	name = nurodev
[github]
  	user = nurodev
[alias]
	br = branch
	ci = commit
	co = checkout
	cut = checkout -b
	ls = ls-files
	st = status
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "https://github.com/"]
	insteadOf = github:
[url "https://github.com/"]
	insteadOf = gh:
